services:
  backend:
    container_name: Go-Backend
    build:
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - JWT_SECRET=${JWT_SECRET}
      - BASE_INTERNAL_URL=${BASE_INTERNAL_URL}
      - BASE_EXTERNAL_URL=${BASE_EXTERNAL_URL}
    env_file:
      - .env
